node_modules
.env
.idea
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
deployments
test-results
out.log

# Exclude all artifact except EternalAI and MelodyRNN
artifacts/*
!artifacts/contracts
artifacts/contracts/*
!artifacts/contracts/EternalAI.sol
artifacts/contracts/EternalAI.sol/*
!artifacts/contracts/EternalAI.sol/EternalAI.json
!artifacts/contracts/MelodyRNN.sol
artifacts/contracts/MelodyRNN.sol/*
!artifacts/contracts/MelodyRNN.sol/MelodyRNN.json

.DS_Store
_models
